USE [master]
GO
/****** Object:  Database [store sales]    Script Date: 2026-05-05 1:26:49 AM ******/
CREATE DATABASE [store sales]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'store sales', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\store sales.mdf' , SIZE = 1581056KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'store sales_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\store sales_log.ldf' , SIZE = 860160KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [store sales].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [store sales]
GO
/****** Object:  Table [dbo].[CAMPAIGN_TOUCH]    Script Date: 2026-05-05 1:26:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAMPAIGN_TOUCH](
	[touch_id] [nvarchar](50) NOT NULL,
	[customer_id] [nvarchar](50) NOT NULL,
	[touch_date] [date] NOT NULL,
	[channel] [nvarchar](50) NOT NULL,
	[campaign_name] [nvarchar](50) NOT NULL,
	[outcome] [nvarchar](50) NOT NULL,
	[marketing_channel_id] [nvarchar](50) NULL,
 CONSTRAINT [PK_CAMPAIGN_TOUCH] PRIMARY KEY CLUSTERED 
(
	[touch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 2026-05-05 1:26:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[category_id] [nvarchar](50) NOT NULL,
	[category_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHANNEL]    Script Date: 2026-05-05 1:26:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHANNEL](
	[channel_id] [nvarchar](50) NOT NULL,
	[channel_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CHANNEL] PRIMARY KEY CLUSTERED 
(
	[channel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 2026-05-05 1:26:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[customer_id] [nvarchar](50) NOT NULL,
	[signup_date] [date] NOT NULL,
	[city] [nvarchar](50) NOT NULL,
	[state] [nvarchar](50) NOT NULL,
	[segment] [nvarchar](50) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EXTERNAL_FACTOR]    Script Date: 2026-05-05 1:26:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXTERNAL_FACTOR](
	[factor_id] [nvarchar](50) NOT NULL,
	[store_id] [nvarchar](50) NOT NULL,
	[factor_date] [date] NOT NULL,
	[is_holiday] [bit] NOT NULL,
	[temp_c] [float] NOT NULL,
	[rainfall_mm] [float] NOT NULL,
	[trend_index] [float] NOT NULL,
	[cpi_index] [float] NOT NULL,
	[year] [int] NOT NULL,
	[week] [int] NOT NULL,
 CONSTRAINT [PK_EXTERNAL_FACTOR] PRIMARY KEY CLUSTERED 
(
	[factor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARKETING_CHANNEL]    Script Date: 2026-05-05 1:26:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARKETING_CHANNEL](
	[channel_id] [nvarchar](50) NOT NULL,
	[channel_name] [nvarchar](50) NOT NULL,
	[channel_type] [nvarchar](50) NOT NULL,
	[cost_tier] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MARKETING_CHANNEL] PRIMARY KEY CLUSTERED 
(
	[channel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER]    Script Date: 2026-05-05 1:26:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER](
	[order_id] [nvarchar](50) NOT NULL,
	[customer_id] [nvarchar](50) NOT NULL,
	[order_date] [date] NOT NULL,
	[store_id] [nvarchar](50) NOT NULL,
	[channel_id] [nvarchar](50) NOT NULL,
	[payment_type] [nvarchar](50) NOT NULL,
	[year] [int] NOT NULL,
	[week] [int] NOT NULL,
 CONSTRAINT [PK_ORDER] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_ITEM]    Script Date: 2026-05-05 1:26:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_ITEM](
	[order_item_id] [nvarchar](50) NOT NULL,
	[order_id] [nvarchar](50) NOT NULL,
	[product_id] [nvarchar](50) NOT NULL,
	[promo_id] [nvarchar](50) NULL,
	[quantity] [int] NOT NULL,
	[item_discount] [float] NOT NULL,
 CONSTRAINT [PK_ORDER_ITEM] PRIMARY KEY CLUSTERED 
(
	[order_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRICE_CHANGE]    Script Date: 2026-05-05 1:26:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRICE_CHANGE](
	[product_id] [nvarchar](50) NOT NULL,
	[year] [int] NOT NULL,
	[week] [int] NOT NULL,
	[unit_price] [float] NOT NULL,
 CONSTRAINT [PK_PRICE_CHANGE] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC,
	[year] ASC,
	[week] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 2026-05-05 1:26:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[product_id] [nvarchar](50) NOT NULL,
	[category_id] [nvarchar](50) NOT NULL,
	[brand] [nvarchar](50) NOT NULL,
	[sku_name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROMOTION]    Script Date: 2026-05-05 1:26:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROMOTION](
	[promo_id] [nvarchar](50) NOT NULL,
	[promo_type] [nvarchar](50) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[discount_value] [float] NOT NULL,
 CONSTRAINT [PK_PROMOTION] PRIMARY KEY CLUSTERED 
(
	[promo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SESSION]    Script Date: 2026-05-05 1:26:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SESSION](
	[session_id] [nvarchar](50) NOT NULL,
	[customer_id] [nvarchar](50) NOT NULL,
	[session_start] [datetime] NOT NULL,
	[session_duration_sec] [int] NOT NULL,
	[pages_viewed] [int] NOT NULL,
	[device] [nvarchar](50) NOT NULL,
	[referrer] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SESSION] PRIMARY KEY CLUSTERED 
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STORE]    Script Date: 2026-05-05 1:26:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STORE](
	[store_id] [nvarchar](50) NOT NULL,
	[store_city] [nvarchar](50) NOT NULL,
	[store_state] [nvarchar](50) NOT NULL,
	[store_type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_STORE] PRIMARY KEY CLUSTERED 
(
	[store_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUPPORT_TICKET]    Script Date: 2026-05-05 1:26:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPORT_TICKET](
	[ticket_id] [nvarchar](50) NOT NULL,
	[customer_id] [nvarchar](50) NOT NULL,
	[created_date] [date] NOT NULL,
	[issue_type] [nvarchar](50) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[resolution_time_hr] [int] NOT NULL,
	[csat_score] [int] NOT NULL,
	[resolution_time_days] [float] NOT NULL,
 CONSTRAINT [PK_SUPPORT_TICKET] PRIMARY KEY CLUSTERED 
(
	[ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CAMPAIGN_TOUCH]  WITH CHECK ADD  CONSTRAINT [FK_CAMPAIGN_TOUCH_CUSTOMER] FOREIGN KEY([customer_id])
REFERENCES [dbo].[CUSTOMER] ([customer_id])
GO
ALTER TABLE [dbo].[CAMPAIGN_TOUCH] CHECK CONSTRAINT [FK_CAMPAIGN_TOUCH_CUSTOMER]
GO
ALTER TABLE [dbo].[CAMPAIGN_TOUCH]  WITH CHECK ADD  CONSTRAINT [FK_CAMPAIGN_TOUCH_MARKETING_CHANNEL] FOREIGN KEY([marketing_channel_id])
REFERENCES [dbo].[MARKETING_CHANNEL] ([channel_id])
GO
ALTER TABLE [dbo].[CAMPAIGN_TOUCH] CHECK CONSTRAINT [FK_CAMPAIGN_TOUCH_MARKETING_CHANNEL]
GO
ALTER TABLE [dbo].[EXTERNAL_FACTOR]  WITH CHECK ADD  CONSTRAINT [FK_EXTERNAL_FACTOR_STORE] FOREIGN KEY([store_id])
REFERENCES [dbo].[STORE] ([store_id])
GO
ALTER TABLE [dbo].[EXTERNAL_FACTOR] CHECK CONSTRAINT [FK_EXTERNAL_FACTOR_STORE]
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_CHANNEL1] FOREIGN KEY([channel_id])
REFERENCES [dbo].[CHANNEL] ([channel_id])
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [FK_ORDER_CHANNEL1]
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_CUSTOMER] FOREIGN KEY([customer_id])
REFERENCES [dbo].[CUSTOMER] ([customer_id])
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [FK_ORDER_CUSTOMER]
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_STORE1] FOREIGN KEY([store_id])
REFERENCES [dbo].[STORE] ([store_id])
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [FK_ORDER_STORE1]
GO
ALTER TABLE [dbo].[ORDER_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_ITEM_ORDER] FOREIGN KEY([order_id])
REFERENCES [dbo].[ORDER] ([order_id])
GO
ALTER TABLE [dbo].[ORDER_ITEM] CHECK CONSTRAINT [FK_ORDER_ITEM_ORDER]
GO
ALTER TABLE [dbo].[ORDER_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_ITEM_PRODUCT] FOREIGN KEY([product_id])
REFERENCES [dbo].[PRODUCT] ([product_id])
GO
ALTER TABLE [dbo].[ORDER_ITEM] CHECK CONSTRAINT [FK_ORDER_ITEM_PRODUCT]
GO
ALTER TABLE [dbo].[ORDER_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_ITEM_PROMOTION] FOREIGN KEY([promo_id])
REFERENCES [dbo].[PROMOTION] ([promo_id])
GO
ALTER TABLE [dbo].[ORDER_ITEM] CHECK CONSTRAINT [FK_ORDER_ITEM_PROMOTION]
GO
ALTER TABLE [dbo].[PRICE_CHANGE]  WITH CHECK ADD  CONSTRAINT [FK_PRICE_CHANGE_PRODUCT] FOREIGN KEY([product_id])
REFERENCES [dbo].[PRODUCT] ([product_id])
GO
ALTER TABLE [dbo].[PRICE_CHANGE] CHECK CONSTRAINT [FK_PRICE_CHANGE_PRODUCT]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_CATEGORY] FOREIGN KEY([category_id])
REFERENCES [dbo].[CATEGORY] ([category_id])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_PRODUCT_CATEGORY]
GO
ALTER TABLE [dbo].[SESSION]  WITH CHECK ADD  CONSTRAINT [FK_SESSION_CUSTOMER] FOREIGN KEY([customer_id])
REFERENCES [dbo].[CUSTOMER] ([customer_id])
GO
ALTER TABLE [dbo].[SESSION] CHECK CONSTRAINT [FK_SESSION_CUSTOMER]
GO
ALTER TABLE [dbo].[SUPPORT_TICKET]  WITH CHECK ADD  CONSTRAINT [FK_SUPPORT_TICKET_CUSTOMER] FOREIGN KEY([customer_id])
REFERENCES [dbo].[CUSTOMER] ([customer_id])
GO
ALTER TABLE [dbo].[SUPPORT_TICKET] CHECK CONSTRAINT [FK_SUPPORT_TICKET_CUSTOMER]
GO
USE [master]
GO
