USE [master];
GO

-- إنشاء الداتابيز بشكل ديناميكي
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'store sales')
BEGIN
    CREATE DATABASE [store sales];
END
GO

USE [store sales];
GO

-- 1. جدول الفئات
CREATE TABLE [dbo].[CATEGORY](
	[category_id] [nvarchar](50) PRIMARY KEY NOT NULL,
	[category_name] [nvarchar](50) NOT NULL
);

-- 2. جدول القنوات
CREATE TABLE [dbo].[CHANNEL](
	[channel_id] [nvarchar](50) PRIMARY KEY NOT NULL,
	[channel_name] [nvarchar](50) NOT NULL
);

-- 3. جدول قنوات التسويق
CREATE TABLE [dbo].[MARKETING_CHANNEL](
	[channel_id] [nvarchar](50) PRIMARY KEY NOT NULL,
	[channel_name] [nvarchar](50) NOT NULL,
	[channel_type] [nvarchar](50) NOT NULL,
	[cost_tier] [nvarchar](50) NOT NULL
);

-- 4. جدول العملاء
CREATE TABLE [dbo].[CUSTOMER](
	[customer_id] [nvarchar](50) PRIMARY KEY NOT NULL,
	[signup_date] [date] NOT NULL,
	[city] [nvarchar](50) NOT NULL,
	[state] [nvarchar](50) NOT NULL,
	[segment] [nvarchar](50) NOT NULL,
	[status] [nvarchar](50) NOT NULL
);

-- 5. جدول المخازن/المحلات
CREATE TABLE [dbo].[STORE](
	[store_id] [nvarchar](50) PRIMARY KEY NOT NULL,
	[store_city] [nvarchar](50) NOT NULL,
	[store_state] [nvarchar](50) NOT NULL,
	[store_type] [nvarchar](50) NOT NULL
);

-- 6. جدول المنتجات
CREATE TABLE [dbo].[PRODUCT](
	[product_id] [nvarchar](50) PRIMARY KEY NOT NULL,
	[category_id] [nvarchar](50) NOT NULL,
	[brand] [nvarchar](50) NOT NULL,
	[sku_name] [nvarchar](100) NOT NULL,
    CONSTRAINT [FK_PRODUCT_CATEGORY] FOREIGN KEY([category_id]) REFERENCES [dbo].[CATEGORY] ([category_id])
);

-- 7. جدول العروض
CREATE TABLE [dbo].[PROMOTION](
	[promo_id] [nvarchar](50) PRIMARY KEY NOT NULL,
	[promo_type] [nvarchar](50) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[discount_value] [float] NOT NULL
);

-- 8. جدول الطلبات
CREATE TABLE [dbo].[ORDER](
	[order_id] [nvarchar](50) PRIMARY KEY NOT NULL,
	[customer_id] [nvarchar](50) NOT NULL,
	[order_date] [date] NOT NULL,
	[store_id] [nvarchar](50) NOT NULL,
	[channel_id] [nvarchar](50) NOT NULL,
	[payment_type] [nvarchar](50) NOT NULL,
	[year] [int] NOT NULL,
	[week] [int] NOT NULL,
    CONSTRAINT [FK_ORDER_CUSTOMER] FOREIGN KEY([customer_id]) REFERENCES [dbo].[CUSTOMER] ([customer_id]),
    CONSTRAINT [FK_ORDER_STORE1] FOREIGN KEY([store_id]) REFERENCES [dbo].[STORE] ([store_id]),
    CONSTRAINT [FK_ORDER_CHANNEL1] FOREIGN KEY([channel_id]) REFERENCES [dbo].[CHANNEL] ([channel_id])
);

-- 9. تفاصيل الطلب
CREATE TABLE [dbo].[ORDER_ITEM](
	[order_item_id] [nvarchar](50) PRIMARY KEY NOT NULL,
	[order_id] [nvarchar](50) NOT NULL,
	[product_id] [nvarchar](50) NOT NULL,
	[promo_id] [nvarchar](50) NULL,
	[quantity] [int] NOT NULL,
	[item_discount] [float] NOT NULL,
    CONSTRAINT [FK_ORDER_ITEM_ORDER] FOREIGN KEY([order_id]) REFERENCES [dbo].[ORDER] ([order_id]),
    CONSTRAINT [FK_ORDER_ITEM_PRODUCT] FOREIGN KEY([product_id]) REFERENCES [dbo].[PRODUCT] ([product_id]),
    CONSTRAINT [FK_ORDER_ITEM_PROMOTION] FOREIGN KEY([promo_id]) REFERENCES [dbo].[PROMOTION] ([promo_id])
);

-- 10. حملات التسويق
CREATE TABLE [dbo].[CAMPAIGN_TOUCH](
	[touch_id] [nvarchar](50) PRIMARY KEY NOT NULL,
	[customer_id] [nvarchar](50) NOT NULL,
	[touch_date] [date] NOT NULL,
	[channel] [nvarchar](50) NOT NULL,
	[campaign_name] [nvarchar](50) NOT NULL,
	[outcome] [nvarchar](50) NOT NULL,
	[marketing_channel_id] [nvarchar](50) NULL,
    CONSTRAINT [FK_CAMPAIGN_TOUCH_CUSTOMER] FOREIGN KEY([customer_id]) REFERENCES [dbo].[CUSTOMER] ([customer_id]),
    CONSTRAINT [FK_CAMPAIGN_TOUCH_MARKETING_CHANNEL] FOREIGN KEY([marketing_channel_id]) REFERENCES [dbo].[MARKETING_CHANNEL] ([channel_id])
);

-- 11. تغير الأسعار
CREATE TABLE [dbo].[PRICE_CHANGE](
	[product_id] [nvarchar](50) NOT NULL,
	[year] [int] NOT NULL,
	[week] [int] NOT NULL,
	[unit_price] [float] NOT NULL,
    PRIMARY KEY (product_id, year, week),
    CONSTRAINT [FK_PRICE_CHANGE_PRODUCT] FOREIGN KEY([product_id]) REFERENCES [dbo].[PRODUCT] ([product_id])
);

-- 12. العوامل الخارجية
CREATE TABLE [dbo].[EXTERNAL_FACTOR](
	[factor_id] [nvarchar](50) PRIMARY KEY NOT NULL,
	[store_id] [nvarchar](50) NOT NULL,
	[factor_date] [date] NOT NULL,
	[is_holiday] [bit] NOT NULL,
	[temp_c] [float] NOT NULL,
	[rainfall_mm] [float] NOT NULL,
	[trend_index] [float] NOT NULL,
	[cpi_index] [float] NOT NULL,
	[year] [int] NOT NULL,
	[week] [int] NOT NULL,
    CONSTRAINT [FK_EXTERNAL_FACTOR_STORE] FOREIGN KEY([store_id]) REFERENCES [dbo].[STORE] ([store_id])
);

-- 13. الجلسات
CREATE TABLE [dbo].[SESSION](
	[session_id] [nvarchar](50) PRIMARY KEY NOT NULL,
	[customer_id] [nvarchar](50) NOT NULL,
	[session_start] [datetime] NOT NULL,
	[session_duration_sec] [int] NOT NULL,
	[pages_viewed] [int] NOT NULL,
	[device] [nvarchar](50) NOT NULL,
	[referrer] [nvarchar](50) NOT NULL,
    CONSTRAINT [FK_SESSION_CUSTOMER] FOREIGN KEY([customer_id]) REFERENCES [dbo].[CUSTOMER] ([customer_id])
);

-- 14. تذاكر الدعم الفني
CREATE TABLE [dbo].[SUPPORT_TICKET](
	[ticket_id] [nvarchar](50) PRIMARY KEY NOT NULL,
	[customer_id] [nvarchar](50) NOT NULL,
	[created_date] [date] NOT NULL,
	[issue_type] [nvarchar](50) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[resolution_time_hr] [int] NOT NULL,
	[csat_score] [int] NOT NULL,
	[resolution_time_days] [float] NOT NULL,
    CONSTRAINT [FK_SUPPORT_TICKET_CUSTOMER] FOREIGN KEY([customer_id]) REFERENCES [dbo].[CUSTOMER] ([customer_id])
);
GO